<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Recu_Paralela.Properties.Settings.AdvocaciaABCConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AdvocaciaABC;User ID=sa;Password=sql2022"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>